<div class="well">
<p><%= @message %></p>
</div>
<br>
<h4>About the Developer!</h4>
<img src="me.jpg" alt="Shana L Moore">
<p>Hi! My name is Shana Moore and I am a Ruby Developer in training with the help of Skillcrush!</p>
